.THIS .padding{padding:20px;}
.THIS .center{text-align:center;}
.THIS .largeh1{font-size:30px;display:block;text-align:center;color:#00A1E0;text-transform:uppercase;font-weight:bold;}
.THIS .alldone{width:100px;height:auto;margin: 0 auto 10px auto;}