/******************************************************
 * CSS override for CloudCraze.
 * Override any CSS provided by OOTB CloudCraze below
*******************************************************/


/******************************************************
* HELPER CLASSES
*******************************************************/

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-inline {
    display: inline !important;
}

.w-100 {
    width: 100% !important;
}

.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.m-a-0 {
    margin: 0 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-x-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m-a-1 {
    margin: 1rem 1rem !important;
}

.m-t-1 {
    margin-top: 1rem !important;
}

.m-r-1 {
    margin-right: 1rem !important;
}

.m-b-1 {
    margin-bottom: 1rem !important;
}

.m-l-1 {
    margin-left: 1rem !important;
}

.m-x-1 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.m-y-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.m-a-2 {
    margin: 1.5rem 1.5rem !important;
}

.m-t-2 {
    margin-top: 1.5rem !important;
}

.m-r-2 {
    margin-right: 1.5rem !important;
}

.m-b-2 {
    margin-bottom: 1.5rem !important;
}

.m-l-2 {
    margin-left: 1.5rem !important;
}

.m-x-2 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.m-y-2 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.m-a-3 {
    margin: 3rem 3rem !important;
}

.m-t-3 {
    margin-top: 3rem !important;
}

.m-r-3 {
    margin-right: 3rem !important;
}

.m-b-3 {
    margin-bottom: 3rem !important;
}

.m-l-3 {
    margin-left: 3rem !important;
}

.m-x-3 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.m-y-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.p-a-0 {
    padding: 0 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-x-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p-a-1 {
    padding: 1rem 1rem !important;
}

.p-t-1 {
    padding-top: 1rem !important;
}

.p-r-1 {
    padding-right: 1rem !important;
}

.p-b-1 {
    padding-bottom: 1rem !important;
}

.p-l-1 {
    padding-left: 1rem !important;
}

.p-x-1 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.p-y-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.p-a-2 {
    padding: 1.5rem 1.5rem !important;
}

.p-t-2 {
    padding-top: 1.5rem !important;
}

.p-r-2 {
    padding-right: 1.5rem !important;
}

.p-b-2 {
    padding-bottom: 1.5rem !important;
}

.p-l-2 {
    padding-left: 1.5rem !important;
}

.p-x-2 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.p-y-2 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.p-a-3 {
    padding: 3rem 3rem !important;
}

.p-t-3 {
    padding-top: 3rem !important;
}

.p-r-3 {
    padding-right: 3rem !important;
}

.p-b-3 {
    padding-bottom: 3rem !important;
}

.p-l-3 {
    padding-left: 3rem !important;
}

.p-x-3 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.p-y-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.cc_prt_tier_box_outer {
    border: 1px solid #D9D9D9;
    padding: 10px;
    width: 350px;
    margin: 10px;
}

/******************************************************
* GENERAL STYLES
*******************************************************/
@font-face {
    font-family: SalesforceSans;
    src: url(../fonts/SalesforceSans-Regular.woff);
}
body {
    font-weight: normal;
    font-family: 'SalesforceSans', sans-serif;
    color:#363635;
}

body.cc_main_body.ui-mobile-viewport.ui-overlay-a.ext-webkit.ext-chrome.ext-mac {}

th {
    font-weight: normal;
}

a {
    color: #4FB3CD;
}

.panel-default {
    /* border: none; */
    border-radius: 0;
    box-shadow: none;
}

.panel-default .panel-heading,
.panel-default .panel-footer {
    /* background-color: rgba(139, 139, 141, 1); */
    /* border-radius: 0; */
    /* color: rgba(255, 255, 255, 1); */
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

.btn{
    border-radius: 0;
}

.btn-primary{
    background-color: #EC8336;
    border-color: #EC8336
}

.btn-primary:hover{
    background-color: #FAAD6D;
    border-color: #FAAD6D
}


/******************************************************
*HEADER
*******************************************************/

#logoUrl {
    /* padding: 10px; */
    display: inline-block;
}

.cc_store_logo_img {
    background: url(../images/logo.png) no-repeat;
    background-size: cover;
    height: 65px;
    width: 250px;
}






/******************************************************
*NAVBAR / HEADER
*******************************************************/

.header {
    background-color: rgba(21, 24, 27, 1);
}

.cc_navbar {
    background-color: #FBD75E;
    border-color: #FBD75E;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a{
    color: #1c1c1c;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background: rgba(50,74,102,.5);
    transition: all 0s ease-in-out;
    color: #FFF;
}

.cc_navbar_row {
    min-height: 50px;
    padding-top: 15px;
}

.cc_navbar-inverse {
    background-color: rgba(21, 24, 27, 1);
    margin-bottom: 0;
    margin-top: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: rgba(140, 198, 236, 1);
    text-decoration: none;
}


.cc_breadrumb_container {
    margin-top: 15px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    margin-top: 0;
}

.breadcrumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.listPaginationSec .panel {
    /* background-color: rgba(0, 0, 0, 0); */
    /* color: rgba(255, 255, 255, 1); */
}

.cc_check_filter {
    color: rgba(51, 122, 183, 1);
    padding-right: 10px;
}

.top-header {
    background-color: #efefef;
    position: relative;
    z-index: 1002;
}

.top-header ul.list-inline {
    margin-bottom: 0;
}

.top-header ul.list-inline>li {
    float: left;
    margin: 0;
    padding: 0;
}

.top-header ul.list-inline>li .dropdown-toggle {
    border-radius: 0;
    background-color: transparent;
}

.top-header ul.list-inline>li .dropdown-toggle:focus {
    outline: none !important;
}

.top-header ul.list-inline>li>a,
.top-header ul.list-inline>li .dropdown-toggle {
    color: #333;
    /* border-color: #3e8ede; */
    /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); */
    display: block;
    padding: 5px 7px;
}

.top-header ul.list-inline>li>a:hover,
.top-header ul.list-inline>li>a:active,
.top-header ul.list-inline>li .dropdown-toggle:hover,
.top-header ul.list-inline>li .dropdown-toggle:active {
    /* border-color: #2173c4; */
    /* background-color: #2173c4; */
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.top-header ul.list-inline>li .dropdown.open>.dropdown-toggle,
.top-header ul.list-inline>li .bootstrap-select.open>.dropdown-toggle {
    color: #efefef;
    border-color: #2173c4;
    background-color: #2173c4;
    text-decoration: none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.top-header ul.list-inline>li .dropdown-toggle img,
.top-header ul.list-inline>li .dropdown-menu img {
    margin-bottom: 2px;
}

.top-header ul.list-inline>li .dropdown-menu-login {
    line-height: 1.4;
    min-width: 230px;
    padding: 10px;
}

.top-header ul.list-inline>li .dropdown-menu-login button {
    border-radius: 0;
}

.middle-header .search_button {
    color: #fff;
    border-color: transparent;
    background-color: #EC8336;
}

.middle-header .btn-search:active,
.middle-header .btn-search:focus {
    color: #fff;
    border-color: transparent;
    outline: 0;
    background-color: #3e8ede;
}

.middle-header .cart-btn>button:hover {
    border-color: #3e8ede;
}

.middle-header .cart-btn.open>button {
    border-color: #3e8ede !important;
}

.middle-header {
    position: relative;
    z-index: 1001;
    background-color: #FFF;
}

.middle-header>.container>.row {
    padding: 15px 0;
}

.middle-header .search-box input[type="text"]:focus {
    z-index: 4;
}

.middle-header .search-box .bootstrap-select {
    z-index: 3;
}

.middle-header .search-box .bootstrap-select>.dropdown-toggle,
.middle-header .search-box .bootstrap-select>.dropdown-menu {
    margin-left: -1px;
}

.middle-header .btn-search {
    z-index: 3 !important;
}

.middle-header .cart-btn>button {
    float: right;
    color: #8c8c8c;
    border-color: #d7d7d7;
    border-radius: 0;
    background-color: #f3f3f3;
}

.middle-header .cart-btn>button:hover {
    color: #666;
    background-color: #f6f6f6;
}

.middle-header .cart-btn>button:active {
    outline: 0;
    background-color: #f3f3f3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.middle-header .cart-btn>.dropdown-menu {
    right: 15px;
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
}

.middle-header .cart-btn .media {
    margin-top: 10px;
}

.middle-header .cart-btn .media:first-child {
    margin-top: 0;
}

.middle-header .cart-btn .media-body a {
    font-size: 13px;
    display: block;
    margin-bottom: 0;
}

.middle-header .cart-btn .media-right a {
    color: #aaa;
}

.middle-header .cart-btn .media-right a:hover {
    color: #ef5350;
}

.middle-header .cart-btn .media-body div,
.middle-header .cart-btn .subtotal-cart span {
    font-size: 13px;
    color: #ef5350;
}

.middle-header .cart-btn .subtotal-cart {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.middle-header .cart-btn.open>button {
    color: #666 !important;
    background-color: #e7e7e7 !important;
}

.sticky {
    position: fixed;
    z-index: 1003;
    top: 0;
    width: 100%;
    /*-webkit-animation: pull_down 0.3s;
    -o-animation: pull_down 0.3s;
    animation: pull_down 0.3s;*/
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display:none;
    background-color: #FFF;
    padding: 10px 0;
}

.sticky>.container>.row {
    padding: 0;
}


ul.nav.nav-pills.nav-justified.thumbnail {
    margin-top: 20px;
}

/******************************************************
*CAROUSEL
*******************************************************/

.carousel-inner img {
    width: 100%;
}






/******************************************************
*COLUMNS
*******************************************************/

.cc_promo {
    border: 0;
    box-shadow: none;
    background: transparent;
}

.cc_promo .panel-body {
    padding: 0;
}

.cc_promo .panel-body img {
    width: 100%;
}



/******************************************************
* PRODUCT LIST PAGE (SW)
*******************************************************/

/* .prodListSec .panel-heading {
    display: none;
}

.prodListSec .panel-body {
    background: rgba(242, 244, 245, 1);
}

.maincategory_img {
    max-width: 100%;
}

.cc_plp_prodImg img {
    width: 100%;
}

.cc_plp_prodName {
    text-align: center;
    min-height: 40px;
}

.cc_plp_sku {
    text-align: center;
}

.cc_plp_prodPrice {
    text-align: right;
    position: absolute;
    bottom: 0;
}

.cc_product_item {
    border: none;
    min-height: 500px;
    background: rgba(255, 255, 255, 1);
    margin: 15px;
}

.cc_plp_prodImg {
    margin-bottom: 5px;
    padding: 0;
}

.cc_plp_prodDesc {
    font-size: 12px;
}

.cc_rank_display_wrapper {
    margin-bottom: 5px;
}

.cc_filter_reset {
    display: none;
}


.cc_product_catalog_panel {
}

.dropdown-menu h5 {
    color: rgba(92, 142, 180, .9);
    padding: 0 5px;
}

.dropdown-menu .cc_value {
    margin: 0 10px;
    font-size: 12px;
}

.dropdown-menu .cc_check_filter_label {
    margin-top: 4px;
} */


/******************************************************
* PRODUCT LIST PAGE (MFG)
*******************************************************/

.maincategory_img {
    max-width: 100%;
}

.cc_plp_prodImg img {
    height: 150px;
}
img.noImg {
    background-image:url('../images/product.jpg');
    width:150px;
    color:transparent;
    height: 150px;
}

.cc_plp_prodName {
    text-align: center;
    min-height: 40px;
    /* font-size: 12px; */
}

.cc_plp_sku {
    text-align: center;
}

.cc_plp_price {
    text-align: center;
}

.cc_product_item {
    border: 1px solid #dfdfdf;
    padding: 10px;
    min-height: 400px;
    margin-bottom: 20px;
}

.cc_plp_prodImg {
    margin-bottom: 5px;
}

.cc_rank_display_wrapper {
    margin-bottom: 5px;
}

.cc_filter_reset {
    display: none;
}



/******************************************************
* PRODUCT DETAIL PAGE
*******************************************************/

.prodDetailContainer .img-responsive {
    max-height: 200px;
}

.cc_product_detail_photo_container .cc_main_prod_image.img-thumbnail {
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.cc_product_detail_photo_container .cc_main_prod_image.img-thumbnail img {
    max-height: 100%;
    margin: 0 auto;
}

.cc_product_detail_photo_container .thumbnail {
    height: 50px;
    /* display: inline; */
    /* width: 25%; */
    margin: 5px 0 0 0;
    padding: 0;
}

.cc_product_detail_photo_container .thumbnail:hover {
    cursor: pointer;
}

.cc_product_detail_container img {
    max-width: 100%;
}

.cc_tab-content {
    margin-top: 10px;
}

.cc_product_detail #CCQtyBlock>div {
    display: inline-block;
    vertical-align: top;
}

.cc_product_detail #CCQtyBlock input.cc_entry {
    height: 30px;
}

.cc_included_items_panel .panel-body {
    background: rgba(242, 244, 245, 1);
}

.cc_included_item {
    border: none;
    min-height: 300px;
    background: rgba(255, 255, 255, 1);
    margin: 15px;
    width: 29%;
}






/******************************************************
* CART PAGE
*******************************************************/

.cart_item .wishButtons.cc_wish_buttons {
    display: inline-block;
}

.cart_item .dropdown.form-group {
    margin: 0;
}






/******************************************************
* FEATURED PRODUCTS
*******************************************************/

.featured-prod .cc_product_name_img img {
    max-height: 150px;
}






/******************************************************
* PRODUCT COMPARE PAGE
*******************************************************/

.productCompareBasicTable .cc_cart_add_button {
    vertical-align: top;
}






/******************************************************
* FOOTER STYLES
*******************************************************/

.cc_footer_logo_col {
    
}

.footer {
    padding: 20px;
    color: rgba(175, 187, 187, 1);
}

.footer-logo {
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    background: url(../images/logo-white.png) no-repeat;
    background-size: cover;
    height: 40px;
    width: 152px;
}

.footer h4 {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
    font-size: 14px;
}

.footer .container {
    padding-top: 60px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer .footer-primary-nav a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgba(140, 198, 236, 1);
}

.footer .footer-primary-nav a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer .footer-link-list a {
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 12px;
    color: rgba(175, 187, 187, 1);
}

.footer .footer-link-list a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer ul li {
    padding: 0 0 4px;
    margin: 0 0 4px;
}

.footer a {
    /*     color: rgba(140, 198, 236, 1); */
}

.footer a:hover,
.footer a:focus {
    text-decoration: none;
}






/******************************************************
* HERO SLIDER STYLES
*******************************************************/

.ckz-hero-slider .ckz-btn {
    background-color: rgba(49, 141, 222, .8) !important;
}

.ckz-hero-slider .ckz-btn:hover {
    background-color: rgba(49, 141, 222, 1)!important;
    text-decoration: none;
}

.ckz-hero-slider .ckz-btn.secondary {
    background-color: rgba(167, 169, 172, .8) !important;
}

.ckz-hero-slider .ckz-btn.secondary:hover {
    background-color: rgba(167, 169, 172, 1) !important;
}

.ckz-slider-nav .ckz-marker {
    color: rgba(49, 141, 222, 1) !important;
    background-color: rgba(255, 255, 255, 1) !important;
    box-shadow: inset 0 4px 0 currentColor !important;
}

.ckz-slider-nav a {
    color: rgba(255, 255, 255, 1) !important;
}

.ckz-slider-nav a:hover {
    background-color: rgba(0, 1, 1, 0.5) !important;
    text-decoration: none !important;
}

.ckz-slider-nav li.selected a {
    color: rgba(44, 52, 59, 1) !important;
}

.ckz-slider-nav li.selected a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    text-decoration: none !important;
}




/******************************************************
* PRODUCT FEATURES PAGE STYLES
*******************************************************/

.cc_SW_ProductFeatures {
    background-color: #222120;
    background-image: url("http://i.imgur.com/ZWLqW3a.png");
}

.cc_ProductFeatures {
    color: #e2e2e2;
    padding: 0 80px;
    margin-bottom: 40px;
}

.cc_ProductFeatures h1,
.cc_VersionCompare h1 {
    margin: 80px 0;
}

.cc_VersionCompare {
    color: #333333;
    background: #F3F3F3;
    padding: 0 80px 40px 80px;
}

.cc_VersionCompare .table {
    width: 75%;
    display: block;
    margin: 0 auto;
}

.cc_ProductPurchase {
    color: #e2e2e2;
    margin: 40px 0;
    padding: 0 80px;
}


.visible-lg-block{
    display: block !important;
}
/******************************************************
* MEDIA QUERIES
*******************************************************/

@media screen and (max-width: 982px) {
  img.cart.img-responsive {
      max-height: 180px;
  }

  .middle-header{
    margin-bottom: 20px;
  }


}


@media screen and (max-width: 764px) {
  .btn-group.dropdown.form-group {
      float: left;
      margin-top: 10px;
      margin-right: 10px;
  }

  button.btn.btn-default.addItem.cc_add_item {
      margin-top: 5px;
  }
  button.btn.btn-default.btn-sm.deleteItem.removeItemButton.cc_remove_item_button {
      margin-top: 10px;
      float: left;
  }
}
