<div class="sectionContainerTooltip">
The Mobile Chatter Answers needs to know which Article Type and which fields
need to be displayed. In this section, you can specify those articles types,
the fields that will be shown, and in which order they should be shown. Note
that the security settings around the visibility of Articles Types and Custom
fields on these articles is unaffected by the settings of the mobile App. If
an Article is not visible to a user, adding it to this section will not make
it visible.
</div>
<div class="sectionContainer">
<p style="margin: 0px 0px 5px 0px;"> Add Knowledge Article </p>
<form onsubmit="return false;">
                <input type="button" id="kamodal" class="camkainputedit cambtn" style="width:100%" value="Click to select a new Knowledge Article type">
</form>
<span id="error" class="errorMsj"></span>
</div><br/>
<p> Knowledge Articles List </p><br/>
<div id="camkaslist"></div>