<p class="camModalHeader">Article Type configuration</p>
<div class="camkamodalselectcontainer">
<span class="camColumnArticlesType">&nbsp;&nbsp;Available KA's</span><br/><br/>
<select id="katypes" size="4" class="camselects"></select>
</div>
<div class="camkamodalselectcontainer">
<span class="camColumnArticlesType">&nbsp;&nbsp;Selected KA fields</span><br/><br/>
<select id="available" multiple="multiple"  class="camselects"></select>
</div>
<div class="camkamodalselectcontainer camkabuttons">
<input type="button" id="toRight" value=">>" class="cambtn camsitebtn"><br/><br/>
<input type="button" id="toLeft" value="<<" class="cambtn camsitebtn" style="margin-top:5px;">
</div>
<div class="camkamodalselectcontainer">
<span class="camColumnArticlesType"> &nbsp;&nbsp;Selected fields</span><br/><br/>
<select id="selected" multiple="multiple" class="camselects"></select>
</div>
<div class="camkamodalselectcontainer camkabuttons">
<input type="button" id="toUp" value="Up" class="cambtn camsitebtn"><br/>
<input type="button" id="toDown" value="Down" class="cambtn camsitebtn" style="margin-top:5px;">
</div>
<div style="padding-top: 10px; float: right;">
<input type="button" id="send" value="Save" class="cambtn camsitebtn" /><input type="button" id="cancel" value="Cancel" class="cambtn camsitebtn"/>
</div>
<div class="errorMsj" style="float: left;padding: 19px 0px 0px 10px;"></div>