<div class="sectionContainerTooltip">
The Mobile Chatter Answers needs to know who are the moderators who will engage in the zone in order
to display their photo and name property. In this section, you can specify who those moderators are
by selecting their name and adding them to the list. Note that selecting moderator is only for visual
purposes and does not give those user any more privilege than what they have currently in Chatter Answers.
</div>
<p style="margin: 0px 0px 5px 2px;"> Identify a New Moderator </p>
<form onsubmit="return false;">
                <input type="button" class="cammoderatorinputedit" value="Click to select a new Agent">
                <input type="button" id="cammoderatorsavebutton" class="cambtn" value="Add">
</form>
<span id="error" class="errorMsj"></span><br/><br/>
<p> Moderators List </p><br/>
<div id="cammoderatorslist"></div>