<div class="bs-docs-sitemodules">
<span class="t-title">Enable mobile functionality</span>
<label class="checkbox">
  <input type="checkbox" value="" id="umKnowledgeBase_enabled__c" <% if(site.umKnowledgeBase_enabled__c == true){ print("checked"); } %>>
  Knowledge Base
</label>
<label class="checkbox">
  <input type="checkbox" value="" id="umChatterAnswers_enabled__c" <% if(site.umChatterAnswers_enabled__c == true){ print("checked"); } %>>
  Chatter Answers (Questions and Answers)
</label>
<label class="checkbox">
  <input type="checkbox" value="" id="umSite_casesEnabled__c" <% if(site.umSite_casesEnabled__c == true){ print("checked"); } %>>
  Cases
</label>	
<label class="checkbox">
  <input type="checkbox" value="" id="umContactus_enabled__c" <% if(site.umContactus_enabled__c == true){ print("checked"); } %>>
  Contact Us
</label>
<label class="checkbox">
  <input type="checkbox" value="" id="umSite_authenticated__c" <% if(site.umSite_authenticated__c == true){ print("checked"); } %>>Authentication
</label>	
</div>