<div class="row">
	<div class="span12" style="text-align:right;">
		<div class="btn-group">
  			<button class="btn btn-mini" id="saveAll"><i class="icon-ok-sign"></i>&nbsp;Save</button>
  			<button class="btn btn-mini" id="backToHome"><i class="icon-remove-sign"></i>&nbsp;Cancel</button>
		</div>
	</div>
	<div class="span12 hidden" id="errContainerSite" style="margin-top:10px;margin-bottom:-20px;">
		<div class="alert alert-error" id="errContainerSiteMsj"></div>
	</div>
	<div class="span12">
		<div class="bs-docs-sites">
			<ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a href="#modules" data-toggle="tab" id="modulesLink">Modules</a></li>
			  <li><a href="#general" data-toggle="tab" id="generalTabLink">General</a></li>
			  <li><a href="#qanda" data-toggle="tab" id="caTabLink">Chatter Answers</a></li>
			  <li><a href="#knowledge" data-toggle="tab" id="knowledgeTab">Knowledge</a></li>
			  <li><a href="#moderator" data-toggle="tab" id="moderatorTab">Moderators</a></li>
			  <li><a href="#contact" data-toggle="tab" id="contactTab">Contact</a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="modules">Modules</div>
			  <div class="tab-pane" id="general">General</div>
			  <div class="tab-pane" id="qanda">Chatter Answers</div>
			  <div class="tab-pane" id="knowledge">Knowledge Base</div>
			  <div class="tab-pane" id="moderator">Moderators</div>
			  <div class="tab-pane" id="contact">Contact us</div>
			</div>
		</div>
	</div>
</div>