.bs-docs-fbSignUp{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-fbSignUp::after{
    content: "Facebook Sign Up";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-docs-sites{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-sites::after{
    content: "Manage Sites";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-docs-siteInfo{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-siteInfo::after{
    content: "Site Information";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-docs-siteca{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-siteca::after{
    content: "Site Chatter Answers";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-docs-sitemodules{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-sitemodules::after{
    content: "Site enabled modules";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-docs-siteKnowledge{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-siteKnowledge::after{
    content: "Knowledge Articles Layouts";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-docs-siteKnowledgeDC{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-siteKnowledgeDC::after{
    content: "Knowledge Base Data Categories";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}


.sitecontactCreateContactAccount{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sitecontactCreateContactAccount::after{
    content: "Contac and Account";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}



.bs-docs-sitecontactPhone{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-sitecontactPhone::after{
    content: "Phone Call";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-docs-sitecontactLiveAgent{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-sitecontactLiveAgent::after{
    content: "Live Agent";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-docs-moderators{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bs-docs-moderators::after{
    content: "Moderators";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1797c0;
    border: 1px solid #DDD;
    color: #fff;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.mLeft{
    margin-left: 20px;
}

.t-title{
    display: block;
    margin-bottom: 10px;
}

.spanTitle{
    display:block;
    margin-top: 5px;
    margin-bottom: 3px;
}

.ulsKa{
    list-style-type: none;
    margin: 0px;
    height: 250px;
    width: 98%;
    overflow: scroll;
    padding:0px;
}

.ulsKaT{
    list-style-type: none;
    margin: 0px;
    width: 98%;
    padding:0px;
}

.ulsKaT li{
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0px;
    padding: 0px 10px;
    background-color:#dff0d8;
}

.ulsKa li{
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0px;
    padding: 0px 10px;
}

.ulsKa li:hover{
    background-color: #fcf8e3;
}

.typeSelected{
    background-color: #fcf8e3;
}

#camloaderoverlay{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #000;
    height: 100%;
    width: 100%;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
    z-index: 99998;
}

#camloadergif{
    position: fixed;
    bottom: 5px;
    left: 20px;
    padding: 0px;
    margin: 0px;
    z-index: 99998;
}

#fixedOverlay{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #000;
    height: 100%;
    width: 100%;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
    z-index: 99998;
}

#fixedLoader{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
    padding: 10px;
    margin: 0px;
    z-index: 99999;
    color: #fff;
    background-color:#1797c0;
    font-weight: bold;
     -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
}

.gr{
    background-color:#dff0d8;
    padding: 0px 5px;
}

.deleted{
    background-color: red;
}

.hidden{
    display: none;
}





