.THIS .test {
    justify-content: space-between;
}

.THIS .slds-table {
    background-color: #F4F6F9 !important;
}

.THIS .slds-icon-action-approval {
    background-color: #10c972;
    padding: .25rem !important;
    display: inline !important;
}

.THIS .warranty-icon {
    margin-left: 40px;
}

.THIS .warranty-icon:hover {
    background-color: none;
}